@{
    Layout = "_Layout";
}

@using Factory.Models;

<h1> All Engineers </h1>
@foreach (Engineer item in Model)
{
    @Html.ActionLink($"{item.EngineerName}","Details", new {id =item.EngineerId} )
    <br>
}
<br><br>
<p>@Html.ActionLink("Add an Engineer","Create")</p>
<p>@Html.ActionLink("Back to Homepage", "Index", "Home")</p>